<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.backend.chat.mapper.ChatMapper">

    <insert id="createRoom">
        INSERT INTO chatroom(roomid, createdate)
        VALUES (#{rooid}, #{createdate})
    </insert>

    <insert id="createRoomName">
        INSERT INTO chatroomname(userid, roomid, customroomname)
        VALUES (#{userid}, #{rooid}, #{customroomname})
    </insert>

</mapper>