.header-container {
    width: 100%;
    height: 70px;
    background: rgb(169,223,226);
    background: linear-gradient(141deg, rgba(169,223,226,1) 0%, rgba(209,213,250,1) 92%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.header-title {
    height: 100%;
    width: 90px;
    padding-top: 5px;
}

.roomlist-logo {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/cat/fluttering.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-btn-box {
    display: flex;
    justify-content: space-between;
}

.roomlist-header-btn {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.roomlist-header-icon:hover {
    cursor: pointer;
    color: #5581d8;
    transition: 0.3s;
    filter: drop-shadow(0.5px 0.5px 0.5px rgba(146, 161, 192, 0.2))
            drop-shadow(-0.5px -0.5px 0.5px rgba(146, 161, 192, 0.2))
            drop-shadow(-0.5px 0.5px 0.5px rgba(146, 161, 192, 0.2))
            drop-shadow(0.5px -0.5px 0.5px rgba(146, 161, 192, 0.2));
}
.roomlist-header-icon:not(:hover) {
    transition: 0.6s;
}

.roomlist-header-icon {
    box-sizing: border-box;
    font-size: 26px;
    margin: 30px 10px 5px 10px;
    color: #5c6898;
}

.roomlist-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    background-color: #ffffff; 
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); 
    position: absolute; 
    right: 0px;
    top: 70px;
    z-index: 1000;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s, max-height 0.5s ease-out;
}

.roomlist-options.show {
    opacity: 1;
    max-height: 200px;
}

.roomlist-options button {
    margin-bottom: 5px; /* 버튼 간격을 조정합니다. */
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
}

.roomlist-options button:hover {
    background-color: #e0e0e0; /* 버튼에 마우스를 올렸을 때 배경색 변경합니다. */
}