.header-container {
    width: 100%;
    height: 70px;
    background-color: blue;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.header-title h3 {
    margin: 40px 15px;
    padding: 0;
}

.header-btn-box {
    display: flex;
    justify-content: space-between;
}

.roomlist-header-btn {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.roomlist-header-icon {
    box-sizing: border-box;
    font-size: 26px;
    margin: 30px 10px 5px 10px;
    color: rgb(46, 46, 46);
}

.roomlist-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    background-color: #f0f0f0; 
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); 
    position: absolute; 
    right: 0px;
    top: 70px;
    z-index: 1000;
}

.roomlist-options button {
    margin-bottom: 5px; /* 버튼 간격을 조정합니다. */
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
}

.roomlist-options button:hover {
    background-color: #e0e0e0; /* 버튼에 마우스를 올렸을 때 배경색 변경합니다. */
}