.header-container {
    width: 100%;
    height: 70px;
    background-color: blue;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.header-container h3 {
    margin: 0;
    padding: 40px 10px;
}