body {
    margin: 0;
    background-color: #eeeeee;
    font-family: "Noto Sans KR", sans-serif;
}

.main-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 570px;
    width: 320px;
    border: rgb(220, 220, 220) solid 1px;
    border-radius: 1rem;
    background-color: white;
    box-sizing: border-box;
}