.chat-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 570px;
    width: 320px;
    border: rgb(220, 220, 220) solid 1px;
    border-radius: 1rem;
    background-color: white;
    box-sizing: border-box;
}

/* =================== 위 css 옮길 예정 =================== */

.chat-header {
    width: 100%;
    height: 70px;
    background: rgb(169,223,226);
    background: linear-gradient(141deg, rgba(169,223,226,1) 0%, rgba(209,213,250,1) 92%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.chat-header-center {
    height: 100%;
    width: 100px;
}
.chat-header-center {
    font-size: 20px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #5c6898;
    padding-top: 28px;
    margin-left: 20px;
}

.temp-img {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/cat/temptation.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chat-header-right {
    display: flex;
    justify-content: space-between;
}

.chat-header-icon {
    box-sizing: border-box;
    font-size: 22px;
    margin: 30px 8px 5px 10px;
    color: #5c6898;
}

.chat-message {
    flex-grow: 1;
    overflow-y: auto; /* 내용이 넘치면 스크롤 생성 */
    background-color: #F9F9F9;
}

/* 말풍선 ui */
/* 내가 친 채팅 */
.my-chat {
	position: relative;
	background: #ffeb33;
	border-radius: .4em;
}

.my-chat:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #ffeb33;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

/* 상대방이 친 채팅 */
.another-chat {
	position: relative;
	background: #33ccff;
	border-radius: .4em;
}

.another-chat:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #33ccff;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}








.chat-input {
    display: flex;
    align-items: flex-start; /* 내부 요소의 높이를 맞춤 */
    height: 50px; /* chat-input의 기본 높이 */
    padding: 10px;
    box-sizing: border-box;
    background-color: #f5f5f5; /* 취향에 따라 조정 가능 */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: white;
    background: rgb(209,213,250);
    background: linear-gradient(141deg, rgba(209,213,250,1) 0%, rgba(169,223,226,1) 92%);
}

.chat-input .message-input {
    height: 18px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 0 10px;
    resize: none; /* 사용자가 수동으로 크기 조정 못하게 함 */
    overflow-y: hidden; /* 자동 높이 조정 시 스크롤바 숨김 */
    font-family: "Noto Sans KR", sans-serif;
}

.message-input:focus {
    outline: none;
}

.file-attach-button, .send-message-button {
    border: none;
    background-color: transparent; /* 취향에 따라 조정 가능 */
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 20px;
    color: #5c6898;
}

.file-attach-button:hover, .send-message-button:hover {
    color: #5581d8;
    transition: color 0.3s, filter 0.3s; /* 수정: transition 속성을 명확히 지정 */
    filter: drop-shadow(0.5px 0.5px 0.5px rgba(146, 161, 192, 0.2))
            drop-shadow(-0.5px -0.5px 0.5px rgba(146, 161, 192, 0.2))
            drop-shadow(-0.5px 0.5px 0.5px rgba(146, 161, 192, 0.2))
            drop-shadow(0.5px -0.5px 0.5px rgba(146, 161, 192, 0.2));
}

.file-attach-button:not(:hover), .send-message-button:not(:hover) {
    transition: 0.6s;
}