.container {
    width: 100%;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content:left;
    align-items: center;
}

.image-box {
    padding: 10px;
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 45%;
    box-sizing: border-box;

}



.name {
    margin-left: 5px;
    font-size: 14px;
}