body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: "Noto Sans KR", sans-serif;
}

.handler-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 570px;
    width: 320px;
    border: rgb(220, 220, 220) solid 1px;
    border-radius: 1rem;
    background-color: white;
    box-sizing: border-box;
}

.handler-header {
    width: 100%;
    height: 70px;
    background: rgb(169,223,226);
    background: linear-gradient(141deg, rgba(169,223,226,1) 0%, rgba(209,213,250,1) 92%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.loading-img {
    width: 100%;
    height: 200px;
    margin-top: 70px;
    margin-bottom: 40px;
    background-image: url("../assets/cat/walk.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loading-message {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.handler-bottom {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 70px;
    background: rgb(209,213,250);
    background: linear-gradient(141deg, rgba(209,213,250,1) 0%, rgba(169,223,226,1) 92%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}